In [1]:
dict1={'Name':'Ram','Age':18,'Year':1997}
print(dict1)                                    # to print whole dictionary

{'Name': 'Ram', 'Age': 18, 'Year': 1997}

In [5]:
dict1={'Name':'Ram','Age':18,'Year':1997}
x=dict1['Name']
print(x)                                        #to print specific value

Ram

In [6]:
dict1={'Name':'Ram','Age':18,'Year':1997}
x=dict1.get('Name')
print(x)                             # another way to print specific values

Ram

In [7]:
dict1={'Name':'Ram','Age':18,'Year':1997}
for i in dict1:
    print(i)                                      #it will print Keys only

Name
Age
Year

In [9]:
dict1={'Name':'Ram','Age':18,'Year':1997}
for i in dict1.values():
    print(i)                                   #it will print the values

Ram
18
1997

In [12]:
dict1={'Name':'Ram','Age':18,'Year':1997}
for x,y in dict1.items():                      #it will print key along with their values
    print(x,':',y)

Name : Ram
Age : 18
Year : 1997

In [19]:
dict1={'Name':'Ram','Age':18,'Year':1997}
dict1['Name']='Kashish Saini'
print(dict1['Name'])

Kashish Saini

In [23]:
dict1={'Name':'Ram','Age':18,'Year':1997}
dict1['Name']='Kashish Saini'
print(dict1)

{'Name': 'Kashish Saini', 'Age': 18, 'Year': 1997}

In [24]:
dict1={'Name':'Ram','Age':18,'Year':1997}
dict1['Nick Name']='Kashish Saini'
print(dict1)

{'Name': 'Ram', 'Age': 18, 'Year': 1997, 'Nick Name': 'Kashish Saini'}

In [25]:
dict1={'Name':'Ram','Age':18,'Year':1997}
dict1.popitem()
print(dict1)

{'Name': 'Ram', 'Age': 18}

In [27]:
dict1={'Name':'Ram','Age':18,'Year':1997}
dict1.pop('Year')
print(dict1)

{'Name': 'Ram', 'Age': 18}

In [28]:
dict1={'Name':'Ram','Age':18,'Year':1997}
del dict1
print(dict1)

NameError: name 'dict1' is not defined

In [29]:
dict1={'Name':'Ram','Age':18,'Year':1997}
dict1.clear()
print(dict1)

{}

In [36]:
dict1={'Name':'Ram','Age':18,'Year':1997}
x=dict1.copy()
print(x)

{'Name': 'Ram', 'Age': 18, 'Year': 1997}

In [42]:
x={'Name','Age','Year'}
y=0
dict1=dict1.fromkeys(x,y)
print(dict1)

{'Age': 0, 'Name': 0, 'Year': 0}

In [43]:
dict1={'Name':'Ram','Age':18,'Year':1997}
x=dict1.setdefault('Name','Shyam')
print(x)

Ram

In [46]:
dict1={'Name':'Ram','Age':18,'Year':1997}
x=dict1.setdefault('2nd Name','Shyam')
print(x)

Shyam

In [47]:
dict1={'Name':'Ram','Age':18,'Year':1997}
x=dict1.setdefault('2nd Name','Shyam')
print(x)
print(dict1)

Shyam
{'Name': 'Ram', 'Age': 18, 'Year': 1997, '2nd Name': 'Shyam'}

In [53]:
dict1={'Name':'Ram','Age':18,'Year':1997}
x=dict1.update({'Place':'Delhi'})
print(dict1)

{'Name': 'Ram', 'Age': 18, 'Year': 1997, 'Place': 'Delhi'}

In [57]:
student_db={}
while True:
    line=input("Enter The Id And Name separated by comma or enter q for Exit")
    if line=='q':
        break
    id,name=line.split(',')
    student_db.update({id:name})
    for x,y in student_db.items():
        print(x,y)
    key=input("Enter ID number to search: ")
    if key in student_db:
        print('Key=',key,'Value=',student_db[key])
    else:
        print('key not found')

Enter The Id And Name separated by comma or enter q for Exit1,kashish
1 kashish
Enter ID number to search2,raju
key not found
Enter The Id And Name separated by comma or enter q for Exit2,raju
1 kashish
2 raju
Enter ID number to search3,neha
key not found
Enter The Id And Name separated by comma or enter q for Exitq

In [100]:
data={"names":['John','sam','tom','ricky','adam'], 
      'marks':[78,88,87,45,78],
      'hobby':['Cricket','Football','Cricket','Cricket']}    #find data of those students whose marks are above 80..?
for i in range(len(data['names'])):
    if data['marks'][i]>80:
        print(data['names'][i],data['marks'][i],data['hobby'][i])

sam 88 Football
tom 87 Cricket

In [27]:
data={"names":['John','sam','tom','ricky','adam'], 
      'marks':{'phy':[45,63,86,63,78],
               'chem':[76,36,89,78,63],
               'maths':[67,83,98,56,83]
              }
      ,'hobby':['Cricket','Football','Cricket','Cricket']
     }

for i in range(len(data["names"])):
    total=0
    avg_marks=0
    total=data['marks']['phy'][i] + data['marks']['chem'][i] + data['marks']['maths'][i]
    avg=(total)/len(data['marks'])
    print('Student Name:', data["names"][i],'Total Marks: ', total,'Average Marks: ',avg)
    print()

Student Name: John Total Marks:  188 Average Marks:  62.666666666666664

Student Name: sam Total Marks:  182 Average Marks:  60.666666666666664

Student Name: tom Total Marks:  273 Average Marks:  91.0

Student Name: ricky Total Marks:  197 Average Marks:  65.66666666666667

Student Name: adam Total Marks:  224 Average Marks:  74.66666666666667

In [1]:
data={"names":['John','sam','tom','ricky','adam'], 
      'marks':{'phy':[45,63,86,63,78],
               'chem':[76,36,89,78,63],
               'maths':[67,83,98,56,83]
              }
      ,'hobby':['Cricket','Football','Cricket','Cricket']
     }

for i in range(len(data["names"])):
    total=0
    avg_marks=0
    total=data['marks']['phy'][i] + data['marks']['chem'][i] + data['marks']['maths'][i]
    avg=(total)/len(data['marks'])
    print('Student Name:', data["names"][i],'Total Marks: ', total,'Average Marks: ',avg)
    print()

Student Name: John Total Marks:  188 Average Marks:  62.666666666666664

Student Name: sam Total Marks:  182 Average Marks:  60.666666666666664

Student Name: tom Total Marks:  273 Average Marks:  91.0

Student Name: ricky Total Marks:  197 Average Marks:  65.66666666666667

Student Name: adam Total Marks:  224 Average Marks:  74.66666666666667

In [4]:
data={"names":['John','sam','tom','ricky','adam'], 
      'marks':{'phy':[45,63,86,63,78],
               'chem':[76,36,89,78,63],
               'maths':[67,83,98,56,83]
              }
      ,'hobby':['Cricket','Football','Cricket','Cricket']
     }

for i in range(len(data["names"])):
    total=0
    for j in data['marks']:
        print(data['marks'][j][i])
        total+=data['marks'][j][i]
        avg=total/3
    print("Total of ",data['names'][i],'is: ',total)
    print("Average  of ",data['names'][i],'is: ',avg)

45
76
67
Total of  John is:  188
Average  of  John is:  62.666666666666664
63
36
83
Total of  sam is:  182
Average  of  sam is:  60.666666666666664
86
89
98
Total of  tom is:  273
Average  of  tom is:  91.0
63
78
56
Total of  ricky is:  197
Average  of  ricky is:  65.66666666666667
78
63
83
Total of  adam is:  224
Average  of  adam is:  74.66666666666667

In [39]:
products = [
    {"p_name":"Apple Iphone 11","brand":"Apple","Category":"Mobile","price":98000},
    {"p_name":"Redmi Note 6","brand":"Xiaomi","Category":"Mobile","price":15000},
    {"p_name":"Sports Shoes","brand":"Puma","Category":"Shoes","price":3400},
    {"p_name":"JBL Headphones bluetooth","brand":"JBL","Category":"Headphones","price":1200},
    {"p_name":"Leather Jacket","brand":"Zara","Category":"Clothes","price":4500},
    {"p_name":"Puma Shoes","brand":"Puma","Category":"Shoes","price":2070},
    {"p_name":"Adidas Sports Shoes","brand":"Adidas","Category":"Shoes","price":1900},
    {"p_name":"Macbook Pro","brand":"Apple","Category":"Laptop","price":128000},
    {"p_name":"Lenovo thinkpad","brand":"Lenovo","Category":"Laptop","price":78000},
    {"p_name":"Asus Zenbook","brand":"Asus","Category":"Laptop","price":88000},
    ]
search=input("Enter  Your Search: ")
search=search.lower()
result=[]

for i in range(len(products)):
    con_1=search in products[i]['p_name'].lower()
    con_2=search in products[i]['brand'].lower()
    con_3=search in products[i]['Category'].lower()
    if con_1 or con_2 or con_3:
        print("Name: ",products[i])['p_name']
        print("Name: ",products[i])['brand']
        print("Name: ",products[i])['category']
        print('*' *50)
        result.append(product[i])

Enter Your Search: iphone

In [32]:
products = [
    {"p_name":"Apple Iphone 11","brand":"Apple","Category":"Mobile","price":98000},
    {"p_name":"Redmi Note 6","brand":"Xiaomi","Category":"Mobile","price":15000},
    {"p_name":"Sports Shoes","brand":"Puma","Category":"Shoes","price":3400},
    {"p_name":"JBL Headphones bluetooth","brand":"JBL","Category":"Headphones","price":1200},
    {"p_name":"Leather Jacket","brand":"Zara","Category":"Clothes","price":4500},
    {"p_name":"Puma Shoes","brand":"Puma","Category":"Shoes","price":2070},
    {"p_name":"Adidas Sports Shoes","brand":"Adidas","Category":"Shoes","price":1900},
    {"p_name":"Macbook Pro","brand":"Apple","Category":"Laptop","price":128000},
    {"p_name":"Lenovo thinkpad","brand":"Lenovo","Category":"Laptop","price":78000},
    {"p_name":"Asus Zenbook","brand":"Asus","Category":"Laptop","price":88000},
    ]

to_search = input("Enter your search : ")
to_search = to_search.lower()

'''
1. User can enter either product name or brand or category
2. Store search results in a list
3. Ask user if he/she wants to filter data based on price
  a. low to high
  b. high to low
'''

results = []

for i in range(len(products)):
    condition_1 = to_search in products[i]['p_name'].lower()
    condition_2 = to_search in products[i]['brand'].lower()
    condition_3 = to_search in products[i]['Category'].lower()
    if condition_1 or condition_2 or condition_3:
        print("Name :",products[i]['p_name'])
        print("Brand :",products[i]['brand'])
        print("Price :",products[i]['price'])
        print("*" * 50)
        results.append(products[i])

to_filter = input("Filter Products : Yes | No ? ")

def return_price(x):
    return x['price']

if to_filter.lower() == 'yes':
    print("""
    1. High to Low
    2. Low to High
""")

    ch = input("Enter your choice : ")
    if ch == "1":
        sorted(results, key=return_price, reverse=True)
    else:
        sorted(results, key=return_price)

    for i in range(len(results)):
        print("Name :",results[i]['p_name'])
        print("Brand :",results[i]['brand'])
        print("Price :",results[i]['price'])
        print("*" * 50)

Enter your search : apple
Name : Apple Iphone 11
Brand : Apple
Price : 98000
**************************************************
Name : Macbook Pro
Brand : Apple
Price : 128000
**************************************************
Filter Products : Yes | No ? yes

    1. High to Low
    2. Low to High

Enter your choice : 1
Name : Apple Iphone 11
Brand : Apple
Price : 98000
**************************************************
Name : Macbook Pro
Brand : Apple
Price : 128000
**************************************************

In [1]:
x=[4,5,6,2,9,7,3,6,1,9,2,22]    #Asending order
sorted (x)

[1, 2, 2, 3, 4, 5, 6, 6, 7, 9, 9, 22]

In [3]:
x=[4,5,6,2,9,7,3,6,1,9,2,22]
sorted(x,reverse=True)                #Desending order

[22, 9, 9, 7, 6, 6, 5, 4, 3, 2, 2, 1]

In [8]:
x=[['John',45],['Sam',42],['Aman',23],['Tom',56]]
sorted(x)                            #aranging acc. to alphabets

[['Aman', 23], ['John', 45], ['Sam', 42], ['Tom', 56]]

In [13]:
x=[['John',45],['Sam',42],['Aman',23],['Tom',56]]
def  sort_data(data):
    return data[1]
sorted(x,key=sort_data)

[['Aman', 23], ['Sam', 42], ['John', 45], ['Tom', 56]]

In [2]:
x=[['John',45],['Sam',42],['Aman',23],['Tom',56]]

for item in x:
    print(item[1])

45
42
23
56

In [28]:
data = [{'name':'John','age':34},
        {'name':'Mac','age':24},
        {'name':'Tom','age':74},
        {'name':'Sam','age':39}
       ]
def sort_data(data):
    return data['name']
sorted(data, key=sort_data)

[{'name': 'John', 'age': 34},
 {'name': 'Mac', 'age': 24},
 {'name': 'Sam', 'age': 39},
 {'name': 'Tom', 'age': 74}]