In [3]:
a=4
b=4
c=a+b
print(c)

8

In [6]:
a=int(input("Enter 1st Number: "))
b=int(input("Enter 2nd Number: "))
c=a+b
print('sum of {} and {} is {}'.format(a, b, c))

Enter 1st Number: 9
Enter 2nd Number: 9
sum of 9 and 9 is 18

In [19]:
a=int(input("Enter 1st Number: "))
b=int(input("Enter 2nd Number: "))
print({(c:=a+b)})

Enter 1st Number: 7
Enter 2nd Number: 7
{14}

In [21]:
a=int(input("Enter !st Number: "))
b=int(input("Enter Your 2nd Number: "))
print(f'''
(1) Sum is {(c:=a+b)}
(2) Sub is {(c:=a-b)}
(3) Div is {(c:=a/b)}
''')

Enter !st Number: 9
Enter Your 2nd Number: 9

(1) Sum is 18
(2) Sub is 0
(3) Div is 1.0

In [24]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [29]:
a=int(input("Enter The Value To Show Table"))
for i in range(1,11):
    print('{} x {} = {}'.format(a, i, a*i))

Enter The Value To Show Table5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [30]:
for i in range(5):
    for j in range(5):
        print('*',end='')
    print()

*****
*****
*****
*****
*****

In [55]:
for i in range(5):
    for j in range(5):
        print(i,end='')
    print()

00000
11111
22222
33333
44444

In [34]:
for i in range(5):
    for j in range(5):
        print(j,end='')
    print()

01234
01234
01234
01234
01234

In [36]:
for i in range(5):
    for j in range(5):
        print(i+1,end='')
    print()

11111
22222
33333
44444
55555

In [62]:
for i in range(11):
    for j in range(10-i):
        print(j,end='')
    print()

0123456789
012345678
01234567
0123456
012345
01234
0123
012
01
0

In [52]:
for i in range(5):
    for j in range(i+1):
        print(j, end=" ")
    print()

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4

In [54]:
for i in range(10):
    for j in range(i+1):
        print('*',end="")
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [57]:
for i in range(10):
    for j in range(i+1):
        print(i,end='')
    print()

0
11
222
3333
44444
555555
6666666
77777777
888888888
9999999999

In [58]:
for i in range(10):
    for j in range(10-i):
        print('*',end="")
    print()

**********
*********
********
*******
******
*****
****
***
**
*

In [100]:
k=0
for i in range(10):
    for j in range(10-i):
        print(' ',end='')
    for a in range(i+1):
        a+=1
        print(a,end=' ')
    print()

          1
         1 2
        1 2 3
       1 2 3 4
      1 2 3 4 5
     1 2 3 4 5 6
    1 2 3 4 5 6 7
   1 2 3 4 5 6 7 8
  1 2 3 4 5 6 7 8 9
 1 2 3 4 5 6 7 8 9 10

In [103]:
k=0
for i in range(10):
    for j in range(i+1):
        print(' ',end='')
    for a in range(1,10-i):
        k+=1
        print(a,end=' ')
    print()

 1 2 3 4 5 6 7 8 9
  1 2 3 4 5 6 7 8
   1 2 3 4 5 6 7
    1 2 3 4 5 6
     1 2 3 4 5
      1 2 3 4
       1 2 3
        1 2
         1

In [106]:
for i in range(11):
    for j in range(i+1):
        print(chr(97+i),end=' ')
    print()

a
b b
c c c
d d d d
e e e e e
f f f f f f
g g g g g g g
h h h h h h h h
i i i i i i i i i
j j j j j j j j j j
k k k k k k k k k k k

In [107]:
for i in range(11):
    for j in range(i+1):
        print(chr(97+j),end=' ')
    print()

a
a b
a b c
a b c d
a b c d e
a b c d e f
a b c d e f g
a b c d e f g h
a b c d e f g h i
a b c d e f g h i j
a b c d e f g h i j k

In [110]:
k=0
for i in range(11):
    for j in range(10-i):
        print(' ',end='')
    for a in range(i+1):
        k+=1
        print(chr(97+i),end=' ')
    print()

          a
         b b
        c c c
       d d d d
      e e e e e
     f f f f f f
    g g g g g g g
   h h h h h h h h
  i i i i i i i i i
 j j j j j j j j j j
k k k k k k k k k k k

In [180]:
k=0
for i in range(5):
    for j in range(10-i):
        print(' ',end='')
    for a in range(2*i+1):
        k+=1
        print(chr(97+i),end=' ')
    print()

          a
         b b b
        c c c c c
       d d d d d d d
      e e e e e e e e e

In [190]:
k=0
for i in range(10):
    for j in range(i+1):
        print(' ',end='')
    for a in range(1,10-i):
        k+=1
        print('*', end=' ')
    print()

 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [188]:
for i in  range(10):
    for j in range(i):
        print(' ',end='')
    for k in range(10-i):
        print('*',end="")
    print()

**********
 *********
  ********
   *******
    ******
     *****
      ****
       ***
        **
         *